/* Contenedor principal */
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgb(107, 165, 101), rgb(0, 109, 94)); 
  text-align: center;
  overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
  padding-bottom: 20px; /* Espacio extra para evitar cortes */
}

/* Logo centrado en la parte superior */
.logo {
  margin-top: 20px;
  width: 450px !important;
  height: auto;
}

/* Estilos para el título */
.titulo {
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.botones {
  display: flex;
  flex-direction: row; /* Cambiado a fila */
  justify-content: center;
  gap: 20px; /* Espacio entre botones */
  margin: 20px 0;
}

/* Botones */
.botonregistro, .botonventa, .botonreporte {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  width: 200px;
  background: linear-gradient(to bottom, #FFD700, #DAA520);
  color: #8B6508;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #B8860B;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.botonregistro:hover, .botonventa:hover, .botonreporte:hover {
  background: linear-gradient(to bottom, #DAA520, #FFD700);
  color: #5A3E00;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
}


/* Iconos para los botones */
.botonregistro::before { content: '\1F4DD'; margin-right: 8px; }
.botonventa::before { content: '\1F6D2'; margin-right: 8px; }

/* Contenedor de la tabla */
.productos-container {
  width: 90%;
  max-width: 1000px;
  margin-top: 20px;
  overflow-x: auto; 
}
.productos-container h2 {
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #000000;
  text-align: center;
  margin-bottom: 15px; 
}

/* Estilos de la tabla */
.tabla-productos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabla-productos th, .tabla-productos td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.tabla-productos th {
  background-color: #001057;
  color: white;
}

.tabla-productos tbody tr:nth-child(even) {
  background-color: #53739f;
}

.barra-busqueda {
  width: 40%;
  padding: 8px 12px;
  margin: 10px 0;
  border: 2px solid #007bff;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  background: #000a58;
}

.barra-busqueda::placeholder {
  color: #555;
}

.barra-busqueda:focus {
  background: #050256;
  border-color: #0056b3;
  box-shadow: 0px 0px 8px rgba(0, 91, 187, 0.5);
}
