/* Estilos para Inicio.css */

/* Contenedor principal */
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgb(0, 192, 64), rgb(0, 255, 128)); 
  text-align: center;
}

.logo {
  position: absolute;
  top: 10%; 
  left: 50%;
  transform: translateX(-50%);
  width: 450px; 
  height: auto;
  margin-bottom: 20px;
}

/* Estilos para el título */
.titulo {
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.negrita {
  font-weight: bold;
}

/* Contenedor de botones en fila */
.botones {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px; 
  width: 100%;
}


.botonregistro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  background: linear-gradient(to bottom, #FFD700, #DAA520); /* Degradado dorado */
  color: #8B6508;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #B8860B;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.botonventa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  background: linear-gradient(to bottom, #FFD700, #DAA520); /* Degradado dorado */
  color: #8B6508;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #B8860B;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.botonreporte {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  background: linear-gradient(to bottom, #FFD700, #DAA520); /* Degradado dorado */
  color: #8B6508;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #B8860B;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.botonregistro:hover {
  background: linear-gradient(to bottom, #DAA520, #FFD700);
  color: #5A3E00;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
}
.botonreporte:hover {
  background: linear-gradient(to bottom, #DAA520, #FFD700);
  color: #5A3E00;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
}
.botonventa:hover {
  background: linear-gradient(to bottom, #DAA520, #FFD700);
  color: #5A3E00;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
}

/* Icono para el botón de Registro */
.botonregistro::before {
  content: '\1F4DD'; 
  font-size: 1.2rem;
  margin-right: 8px;
}

/* Icono para el botón de Venta */
.botonventa::before {
  content: '\1F6D2'; 
  font-size: 1.2rem;
  margin-right: 8px;
}

/* Icono para el botón de Reporte */
.botonreporte::before {
  content: '\1F4CA';/
  font-size: 1.2rem;
  margin-right: 8px;
}
